.NavigationBar
    background-color: #000
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    width: calc(100% - 120px)
    padding: 30px 60px
    color: white
    .nortxt
        color: white
    .logo
        .logotxt
            color: white
            text-decoration: none
            font-weight: bold
            font-size: 24px
